@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
   	transition: 1s all ease-in-out;
    display: grid;
    grid-template-areas: "overlap";
    transform-style: preserve-3d;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.card-flipped {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card-front, .card-back{
    grid-area: overlap;
    backface-visibility: hidden;
}

.custom-class {
  fill: purple;
  margin-left: 5px;
}